/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", "Atkinson Hyperlegible", "FiraCode",
  FreeSerif, serif !default;
$font-family-monospace: "Fira Code";

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Atkinson Hyperlegible", "Atkinson Hyperlegible",
  FreeSerif, serif !default;
$presentation-heading-color: #383d3d !default;
$presentation-heading-line-height: 1.2;

$presentation-h1-font-size: 1.6em;
$presentation-h2-font-size: 1.2em;
$presentation-h3-font-size: 1.0em;
$presentation-h4-font-size: 0.8em;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal .slide-logo {
  max-height: 3.1rem !important;
  bottom: -2px;
  right: 10px;
}

